### imports

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

### basic codes

In [2]:
"""-df.head()
-df.tail(10)
-df.info()
-df.shape
-df.describe()
-df.drop('column name', axis = 1)
-df.isnull().sum()
-df.duplicated().sum()
-df.sample(10)
-df.groupby(['col1','col2','col3'])

"""

"-df.head()\n-df.tail(10)\n-df.info()\n-df.shape\n-df.describe()\n-df.drop('column name', axis = 1)\n-df.isnull().sum()\n-df.duplicated().sum()\n-df.sample(10)\n-df.groupby(['col1','col2','col3'])\n\n"

### read data

In [3]:
df = pd.read_csv('Kohli.csv')
df.shape

(71, 15)

In [4]:
df.head(15)

,Score,Out/Not Out,Against,Batting Order,Inn.,Strike Rate,Venue,Column1,H/A,Date,Result,Format,Man of the Match,Captain,Unnamed: 14
0,116,Out,Australia,6,2,NaN,Adelaide Oval,Adelaide,Away,24-01-2012,Lost,Test,No,No,NaN
1,103,Out,New Zealand,5,2,NaN,M. Chinnaswamy Stadium,Bangalore,Home,31-08-2012,Won,Test,Yes,No,NaN
2,103,Out,England,5,2,NaN,Vidarbha Cricket Association Stadium,Nagpur,Home,13-12-2012,Drawn,Test,No,No,NaN
3,107,Out,Australia,5,2,NaN,M. A. Chidambaram Stadium,Chennai,Home,22-02-2013,Won,Test,No,No,NaN
4,119,Out,South Africa,4,1,NaN,Wanderers Stadium,Johannesburg,Away,18-12-2013,Drawn,Test,No,No,NaN
5,105,Not Out,New Zealand,4,4,NaN,Basin Reserve,Wellington,Away,14-02-2014,Drawn,Test,No,No,NaN
6,115,Out,Australia,4,2,NaN,Adelaide Oval,Adelaide,Away,09-12-2014,Lost,Test,No,Yes,NaN
7,141,Out,Australia,4,4,NaN,Adelaide Oval,Adelaide,Away,09-12-2014,Lost,Test,No,Yes,NaN
8,169,Out,Australia,4,2,NaN,Melbourne Cricket Ground,Melbourne,Away,26-12-2014,Drawn,Test,No,No,NaN
9,147,Out,Australia,4,2,NaN,Sydney Cricket Ground,Sydney,Away,06-01-2015,Drawn,Test,No,Yes,NaN
10,103,Out,Sri Lanka,4,2,NaN,Galle International Stadium,Galle,Away,12-08-2015,Lost,Test,No,Yes,NaN
11,200,Out,West Indies,4,1,NaN,Sir Vivian Richards Stadium,North Sound,Away,21-07-2016,Won,Test,No,Yes,NaN
12,211,Out,New Zealand,4,1,NaN,Holkar Stadium,Indore,Home,08-10-2016,Won,Test,No,Yes,NaN
13,167,Out,England,4,1,NaN,ACA-VDCA Cricket Stadium,Visakhapatnam,Home,17-11-2016,Won,Test,Yes,Yes,NaN
14,235,Out,England,4,2,NaN,Wankhede Stadium,Mumbai,Home,08-12-2016,Won,Test,Yes,Yes,NaN

In [5]:
df.describe()

            Score  Batting Order       Inn.  Strike Rate  Unnamed: 14
count   71.000000      71.000000  71.000000    44.000000          0.0
mean   132.140845       3.521127   1.732394   114.019545          NaN
std     35.911119       0.714326   0.675230    25.257567          NaN
min    100.000000       1.000000   1.000000    84.900000          NaN
25%    107.000000       3.000000   1.000000    96.632500          NaN
50%    119.000000       3.000000   2.000000   108.935000          NaN
75%    139.500000       4.000000   2.000000   120.787500          NaN
max    254.000000       6.000000   4.000000   200.000000          NaN

In [6]:
df.tail(10)

,Score,Out/Not Out,Against,Batting Order,Inn.,Strike Rate,Venue,Column1,H/A,Date,Result,Format,Man of the Match,Captain,Unnamed: 14
61,129,Not Out,South Africa,3,2,134.37,SuperSport Park,Centurion,Away,16-02-2018,Won,ODI,Yes,Yes,NaN
62,140,Out,West Indies,3,2,130.84,ACA Stadium,Guwahati,Home,21-10-2018,Won,ODI,Yes,Yes,NaN
63,157,Not Out,West Indies,3,1,121.71,ACA-VDCA Cricket Stadium,Visakhapatnam,Home,24-10-2018,Tied,ODI,Yes,Yes,NaN
64,107,Out,West Indies,3,2,89.91,Maharashtra Cricket Association Stadium,Pune,Home,27-10-2018,Lost,ODI,No,Yes,NaN
65,104,Out,Australia,3,2,92.85,Adelaide Oval,Adelaide,Away,15-01-2019,Won,ODI,Yes,Yes,NaN
66,116,Out,Australia,3,1,96.67,Vidarbha Cricket Association Stadium,Nagpur,Home,05-03-2019,Won,ODI,Yes,Yes,NaN
67,123,Out,Australia,3,2,129.47,JSCA International Stadium,Ranchi,Home,08-03-2019,Lost,ODI,No,Yes,NaN
68,120,Out,West Indies,3,1,96.00,Queen's Park Oval,Port of Spain,Away,11-08-2019,Won,ODI,Yes,Yes,NaN
69,114,Not Out,West Indies,3,2,115.15,Queen's Park Oval,Port of Spain,Away,14-08-2019,Won,ODI,Yes,Yes,NaN
70,122,Not Out,Afganistan,1,1,200.00,Dubai International Cricket Stadium,Dubai,Away,08-09-2022,Won,T20I,Yes,No,NaN

In [7]:
df.columns

Index(['Score', 'Out/Not Out', 'Against', 'Batting Order', 'Inn.',
       'Strike Rate', 'Venue', 'Column1', 'H/A', 'Date', 'Result', 'Format',
       'Man of the Match', 'Captain', 'Unnamed: 14'],
      dtype='object')

In [8]:
df_.head(7)

NameError: name 'df_' is not defined

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df[df['Strike Rate'].isnull()]

In [ ]:
df.duplicated().sum()

In [ ]:
df[df['Format']!='Test'][['Score','Strike Rate']].describe()

In [ ]:
df[df['Format']=='Test']['Score'].describe()

In [ ]:
px.pie(values = df.Format.value_counts().values,names=df.Format.value_counts().index,hole=0.05,title="Virat Kohli's wagon wheel")

In [ ]:
df['Format_century_no'] = df.groupby(['Format'])['Date'].rank(method='max').astype(int)
df['Format_century_no']

In [ ]:
df[df.Format_century_no ==1].iloc[:,0:-1]

In [ ]:
df[(df.Format_century_no ==43)|(df.Format_century_no ==27)|(df.Format_century_no ==1)].iloc[:,:-1].sort_values(by='Date').tail(3)

In [ ]:
Tonvs = df.groupby(['Against','Format','Result'])['Score'].count().reset_index().rename(columns ={'Score':'Number_of_Centuries'})
px.bar(data_frame=Tonvs,x='Against',y='Number_of_Centuries',color ='Format',text_auto=True,pattern_shape='Result')

In [ ]:
df = df.sort_values(by=['Date'])
df

In [ ]:
l = []
for i in range(1,72):
    l.append(i)

df['Int_Century_count'] = l

In [ ]:
fig = px.line(data_frame=df,x='Date',y='Int_Century_count',markers=True,title="Virat's International Hundreds")
fig.update_layout(title_x=0.5)
fig.show()

### 2 centuries in single match

In [ ]:
#2 centuries in single match¶
df['Date'].value_counts()

In [ ]:
df[df['Date']=='2014-12-09']

In [ ]:
# VK as man of the match
mom_cen = df.groupby(['Format','Man of the Match'])['Score'].count().reset_index()
mom_cen

In [ ]:
fig = px.sunburst(mom_cen,path=['Format','Man of the Match','Score'],values='Score')
fig.update_layout(title='Number of Centuries',title_x=0.5)

In [ ]:
# Ind win % when VK had century
ton_win = df.groupby(['Result','Format'])['Score'].count().reset_index()
ton_win

In [ ]:
fig = px.sunburst(ton_win,path=['Format','Result'],values='Score')
fig.update_traces(textinfo="label+percent parent")
fig.update_layout(title="Winning and Losing pecentage of India in all three Formats w.r.t Virat's Century",title_x=0.5)
fig.show()

In [ ]:
# VK against countries
df_results_against = df.groupby(['Format','Result','Against'])['Score'].count().reset_index()
df_results_against

In [ ]:
fig = px.sunburst(df_results_against,path=['Format','Result','Against'],values='Score')
fig.update_traces(textinfo="label+percent parent")

In [ ]:
# VK centries against Australia
fig = px.sunburst(df_results_against[df_results_against['Against']=='Australia'],path=['Format','Result'],values='Score')
fig.update_traces(textinfo="label+percent parent")

In [ ]:
# VK centuries as captain
ton_cap = df[df['Captain']=='Yes'].groupby(['Captain','Format','Against','Result'])['Score'].count().reset_index()
fig = px.sunburst(ton_cap,path=['Captain','Format','Against','Result'],values='Score')
fig.update_traces(textinfo="label+percent parent")
fig.update_layout(title="Virat's Centuries as a captain and winning Percent of India",title_x=0.5)

In [ ]:
# taking a random sample of 15
df.sample(15)

In [ ]:
# VK at home and away frm home
H_a = df.groupby(['Against','H/A'])['Score'].count().reset_index().rename(columns={'Score':'Centuries'})
fig = px.bar(data_frame=H_a,x='Against',y='Centuries',color='H/A',text_auto=True)
fig.update_layout(title = "Virat's Tons at Home and Away from Home", title_x=0.5)
fig.show()

In [ ]:
# VK at home and away as captain
H_a = df.groupby(['Captain','Format','H/A'])['Score'].count().reset_index().rename(columns={'Score':'Centuries'})

fig = px.bar(data_frame=H_a,x='Captain',y='Centuries',color='H/A',pattern_shape='Format',text_auto=True)
fig.update_layout(title = "Virat's Tons at Home and Away from Home as a Captain", title_x=0.5)
fig.show()